<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PSDMapper">

	<resultMap id="autoCheckMap" type="com.ruoyi.system.domain.AutoCheck">
		<id   column="status"         property="status"               />
		<result column="extranet_ip"   property="extranetIp"           />
		<result column="token"         property="token"                />
		<result column="qr_code"       property="qrCode"               />
		<result column="auto_push_official_account"
				property="autoPushOfficialAccount"/>
	</resultMap>


	<!-- 插入 PSDTemplate -->
	<insert id="insert" parameterType="com.ruoyi.system.domain.PSDTemplate" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO psd_template(config)
		VALUES (#{config})
	</insert>

	<!-- 根据 id 更新 PSDTemplate -->
	<update id="updateById" parameterType="com.ruoyi.system.domain.PSDTemplate">
		UPDATE psd_template
		SET config = #{config}, images = #{images}
		WHERE id = #{id}
	</update>

	<!-- 根据 id 删除 PSDTemplate -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM psd_template WHERE id = #{id}
	</delete>

	<!-- 根据条件查询 PSDTemplate -->
	<select id="selectByCondition" resultType="com.ruoyi.system.domain.PSDTemplate">
		SELECT * FROM psd_template
		<where>
			<if test="templateName != null and templateName != ''">
				AND JSON_UNQUOTE(JSON_EXTRACT(config, '$.baseConfig.templateName'))
				LIKE CONCAT('%', #{templateName}, '%')
			</if>
			<if test="accountName != null and accountName != ''">
				AND JSON_UNQUOTE(JSON_EXTRACT(config, '$.baseConfig.accountName'))
				LIKE CONCAT('%', #{accountName}, '%')
			</if>
		</where>
	</select>

    <select id="selectAll" resultType="com.ruoyi.system.domain.PSDTemplate">
		SELECT * FROM psd_template
	</select>


	<insert id="insertAccountByName">
		INSERT INTO ai_history_name (account_name, name, create_date)
		VALUES
		<foreach collection="nameList" item="item" separator=",">
			(#{accountName}, #{item}, NOW())
		</foreach>
	</insert>

	<select id="selectAccountByName" resultType="java.lang.String">
		select `name` from  ai_history_name where account_name = #{accountName} and create_date >= DATE_SUB(NOW(), INTERVAL 7 DAY)
	</select>
    <select id="getAutoCheck" resultType="java.lang.String">
		select status from auto_check limit 1
	</select>

	<select id="getCheckInfo" resultMap="autoCheckMap">
		select * from auto_check
	</select>

	<update id="updateCheck">
		update auto_check set status = #{status}, extranet_ip = #{extranetIp},  token = #{token}, qr_code = #{qrCode}, auto_push_official_account = #{autoPushOfficialAccount}
	</update>
</mapper>
