<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PsdTaskMapper">

    <resultMap type="PsdTask" id="PsdTaskResult">
        <result property="id"    column="id"    />
        <result property="uuid"    column="uuid"    />
        <result property="config"    column="config"    />
        <result property="taskName"    column="task_name"    />
        <result property="accountName"    column="account_name"    />
        <result property="templateName"    column="template_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="imageCount"    column="image_count"    />
        <result property="status"    column="status"    />
        <result property="createDate"    column="create_date"    />
        <result property="realPath"    column="real_path"    />
        <result property="gzhName"    column="gzh_name"    />
        <result property="gzhStatus"    column="gzh_status"    />
    </resultMap>

    <sql id="selectPsdTaskVo">
        select * from psd_task
    </sql>

    <select id="selectPsdTaskList" parameterType="PsdTask" resultMap="PsdTaskResult">
        <include refid="selectPsdTaskVo"/>
        <where>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="accountName != null  and accountName != ''"> and account_name like concat('%', #{accountName}, '%')</if>
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="imageCount != null  and imageCount != ''"> and image_count = #{imageCount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_date desc
    </select>

    <select id="selectPsdTaskById" parameterType="Long" resultMap="PsdTaskResult">
        <include refid="selectPsdTaskVo"/>
        where id = #{id}
    </select>
    <select id="selectPsdTaskByUuid" resultMap="PsdTaskResult">
        <include refid="selectPsdTaskVo"/>
        where uuid = #{uuid}
    </select>

    <insert id="insertPsdTask" parameterType="PsdTask">
        insert into psd_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskName != null">task_name,</if>
            <if test="accountName != null">account_name,</if>
            <if test="templateName != null">template_name,</if>
            <if test="imageCount != null">image_count,</if>
            <if test="config != null">config,</if>
            <if test="createBy != null">create_by,</if>
            <if test="status != null">status,</if>
            <if test="createDate != null">create_date,</if>
            <if test="uuid != null">uuid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskName != null">#{taskName},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="imageCount != null">#{imageCount},</if>
            <if test="config != null">#{config},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="status != null">#{status},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="uuid != null">#{uuid},</if>
         </trim>
    </insert>

    <update id="updatePsdTask" parameterType="PsdTask">
        update psd_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="config != null">config = #{config},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="imageCount != null">image_count = #{imageCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="realPath != null">real_path = #{realPath},</if>
            <if test="gzhName != null">gzh_name = #{gzhName},</if>
            <if test="gzhStatus != null">gzh_status = #{gzhStatus},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where uuid = #{uuid}
    </update>

    <delete id="deletePsdTaskById" parameterType="Long">
        delete from psd_task where id = #{id}
    </delete>

    <delete id="deletePsdTaskByIds" parameterType="String">
        delete from psd_task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
