<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.store.mapper.StoreSupplierMapper">

    <resultMap type="com.ruoyi.store.domain.StoreSupplier" id="StoreSupplierResult">
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="address"    column="address"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStoreSupplierVo">
        select supplier_id, supplier_name, contact_person, contact_phone, address, status, del_flag, create_by, create_time, update_by, update_time, remark from store_supplier
    </sql>

    <select id="selectStoreSupplierList" parameterType="com.ruoyi.store.domain.StoreSupplier" resultMap="StoreSupplierResult">
        <include refid="selectStoreSupplierVo"/>
        <where>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="contactPerson != null  and contactPerson != ''"> and contact_person like concat('%', #{contactPerson}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            and del_flag = '0'
        </where>
        order by create_time desc
    </select>

    <select id="selectStoreSupplierBySupplierId" parameterType="Long" resultMap="StoreSupplierResult">
        <include refid="selectStoreSupplierVo"/>
        where supplier_id = #{supplierId}
    </select>

    <insert id="insertStoreSupplier" parameterType="com.ruoyi.store.domain.StoreSupplier" useGeneratedKeys="true" keyProperty="supplierId">
        insert into store_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierName != null and supplierName != ''">supplier_name,</if>
            <if test="contactPerson != null">contact_person,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="address != null">address,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierName != null and supplierName != ''">#{supplierName},</if>
            <if test="contactPerson != null">#{contactPerson},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateStoreSupplier" parameterType="com.ruoyi.store.domain.StoreSupplier">
        update store_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierName != null and supplierName != ''">supplier_name = #{supplierName},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where supplier_id = #{supplierId}
    </update>

    <delete id="deleteStoreSupplierBySupplierId" parameterType="Long">
        update store_supplier set del_flag = '2' where supplier_id = #{supplierId}
    </delete>

    <delete id="deleteStoreSupplierBySupplierIds" parameterType="String">
        update store_supplier set del_flag = '2' where supplier_id in
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </delete>
</mapper>
